pipeline/p_load_files_daily.json
{
	"name": "p_load_files_daily",
	"properties": {
		"activities": [
			{
				"name": "GetFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_blob_csv",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": "@pipeline().parameters.folderPath",
							"fileName": {
								"value": "@pipeline().parameters.fileName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFiles').output.childItems\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "SwitchByPrefix",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@split(item().name,'_')[0]\n",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "CUST",
										"activities": [
											{
												"name": "Copy_CUST_MSTR",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"preCopyScript": {
															"value": "TRUNCATE TABLE dbo.CUST_MSTR;",
															"type": "Expression"
														},
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_blob_CUST_MSTR",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "ds_sql_CUST_MSTR",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "master",
										"activities": [
											{
												"name": "Copy_master_child",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "Date",
																"value": {
																	"value": "@concat(\n  substring(item().name,19,4), '-',    \n  substring(item().name,23,2), '-',    \n  substring(item().name,25,2)          \n)\n\n",
																	"type": "Expression"
																}
															},
															{
																"name": "DateKey",
																"value": {
																	"value": "@substring(item().name, 19, 8)\n",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"preCopyScript": {
															"value": "TRUNCATE TABLE dbo.master_child;",
															"type": "Expression"
														},
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_blob_master_child",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "ds_sql_master_child",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "H",
										"activities": [
											{
												"name": "Copy_H_ECOM_ORDER",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"preCopyScript": {
															"value": "TRUNCATE TABLE dbo.H_ECOM_Orders;",
															"type": "Expression"
														},
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_blob_H_ECOM_ORDER",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "ds_sql_H_ECOM_Orders",
														"type": "DatasetReference"
													}
												]
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"folderPath": {
				"type": "string",
				"defaultValue": "raw"
			},
			"fileName": {
				"type": "string",
				"defaultValue": "output.csv"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-07-20T09:44:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}